<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <title>
        SiGeP -
        {% block title %}
        {% endblock %}
    </title>
    <script src="{% static 'js/jquery.3.5.1.min.js'%}"></script>
    <script src="{% static 'js/popper1.16.0.min.js'%}"></script>
    <script src="{% static 'js/bootstrap4.5.2.min.js'%}"></script>
  </head>
  <body >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href=" {% url 'bienvenida' %}">SiGeP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Turnos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pacientes</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Administrar
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Obras Sociales</a>
                  <a class="dropdown-item" href="#">Prácticas Médicas</a>
                  <a class="dropdown-item" href="#">Especialidades</a>
                  <a class="dropdown-item" href="#">Diagnósticos</a>
                  <a class="dropdown-item" href="#">Registros de Caja</a>

                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contrasena_cambio' %}">Cambiar contraseña</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'salir' %}">logout</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>

    {% block extrajs %}

    {% endblock %}

  </body>
</html>