{% extends "base.html" %}
{% load i18n static %}

{% block content %}

<p>¿Te olvidaste tu contraseña o tu usuario está inactivo?</p>
<p>Ingresá tu correo electrónico a continuación para recibir las instrucciones:

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email">Correo electrónico</label>
        {{ form.email }}
    </div>
    <input type="submit" value="Enviar">
</fieldset>
</form>

{% endblock %}
